doctype html
html
  head
    // Title of web page
    title All Photos
    link(rel='stylesheet' type='text/css' href='/styles.css')
  body
    header
      // Logo of image
      a(href='/') ImageTODO
      nav
        // All navigation bar links
        ul.navigation_links
          li
            a(href='/') Home
          li
            a(href='/upload_todo') Upload new image

    // my movie list with class represents each category movie. Example action, adventure
    .movie-filter
      .movie-box
        // list of movies
        // Availabe in https://image.tmdb.org/t/p/w600_and_h900_bestv2/qywXjaaykOlQbaQW64pVOPuzxeM.jpg (31.10.2020)
        .filterMovies.adventure
          .box
            img(src='images/penisula.jpg' alt='')
            strong Penisula
            p Action movie
        // Availabe in https://image.tmdb.org/t/p/w600_and_h900_bestv2/trfHliK2hhw2xOJVztHqKylyzrD.jpg (31.10.2020)
        .filterMovies.adventure
          .box
            img(src='images/barbarians.jpg' alt='')
            strong Barbarians
            p Adventure movie
        // Availabe in https://image.tmdb.org/t/p/w600_and_h900_bestv2/ahf5cVdooMAlDRiJOZQNuLqa1Is.jpg (31.10.2020)
        .filterMovies.drama
          .box
            img(src='images/chicago.jpg' alt='')
            strong The Trial of the Chicago 7
            p Drama movie
        // Availabe in https://image.tmdb.org/t/p/w600_and_h900_bestv2/sWgBv7LV2PRoQgkxwlibdGXKz1S.jpg (31.10.2020)
        .filterMovies.action
          .box
            img(src='images/mandarolin.jpg' alt='')
            strong The Mandalorian
            p Action movie
        // Available in https://image.tmdb.org/t/p/w600_and_h900_bestv2/6WC3cIhuaLZSq3SbtdOp2ZTSTe.jpg (31.10.2020)
        .filterMovies.thriller
          .box
            img(src='images/unhinged.jpg' alt='')
            strong Unhinged
            p Thriller movie
        .filterMovies.fantasy
          .box
            img(src='images/walking-dead.jpg' alt='')
            strong The Walking Dead: World Beyond
            p Fantasy movie
            
        if notes.length
          each note in notes
            .filterMovies
              .box
                strong(href=`notes/${ note.title }`)=  note.title
                p(href=`notes/${ note.body }`)=  note.body
        else 
          p ¡Aún no hay notas!
    // Footer block
    footer.fixed-footer
      .recent-movies
      .footer-text
        | This website was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
