doctype html
html
  head
    // Title of web page
    title Upload new image
    link(rel='stylesheet' type='text/css' href='styles/styles.css')
  body
    header
      // Logo of image
      a(href='/') Movie List
      nav
        // All navigation bar links
        ul.navigation_links
          li
            a(href='/') Home
          li
            a(href='/upload_todo') Upload new movie
    // We declare container with contact information with 2 columns

    if success
      p.success Your movie was added successfully

    if error
      p.error Please add movie (title & body) before submitting

    .container-contact
      .box-contact
        form.column(method="POST")
          label(for='email') Title
          input#title(type='text' name='title' placeholder='Movie name')
          label(for='description') Description
          textarea#description(type='text' name='body' placeholder='In this movie...' style='height: 150px')
          input#myFileInput(type='file' name='image')
          script.
            document.querySelector("#myFileInput").addEventListener("change", function () {
            const reader =  new FileReader();
            reader.addEventListener("load", () => {
            localStorage.setItem("recent-image", reader.result)
            });
            reader.readAsDataURL(this.files[i]);
            });
          button(type='submit-request') Save
    // Footer block
    footer.fixed-footer
      .recent-movies
      .footer-text
        | This website was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
